osx_image: xcode10.2
language: objective-c
env: SWIFT_SNAPSHOT=5.0

env:
  global:
    - LANG=en_US.UTF-8
    - LC_ALL=en_US.UTF-8
    - XCODE_PROJECT=core/EFResume.xcodeproj
  matrix:
    - SCHEME="EFResume"

before_install:
  - gem install xcpretty --no-document --quiet

script:
  - set -o pipefail
  - xcodebuild -project "$XCODE_PROJECT" -scheme "$SCHEME" -configuration Debug clean build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO | xcpretty -c

after_success:
  - sleep 3
  